* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #name */

#name {
    background: linear-gradient(to right bottom, rgba(245, 245, 245, .9), rgba(120, 120, 120, .9));
    height: 100vh;
    position: absolute;
    transition: opacity .5s;3
    width: 100vw;
}